/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif!important;
}

/* Background Colors */
.bg-green{
    background-color:#07ba07!important;
}
.text-green{
    color:#07ba07!important;
}
.bg-yellow{
    background-color:#FFC107!important;
}
.text-yellow{
    color:#FFC107!important;
}
/* Text Colors */
.text-light-green{
    color:#84D684!important;
}

/* Font Sizes */
.fs-12{
    font-size:12px!important;
}
.fs-14{
    font-size:14px!important;
}
.fs-16{
    font-size:16px!important;
}
.fs-17{
    font-size:17px!important;
}
.fs-48{
    font-size:48px!important;
}

/* Margins And Padding */
.mt-90{
    margin-top:90px!important;
}
.mt-130{
    margin-top:130px!important;
}


/* Styling */
.cursor-pointer{
    cursor: pointer;
}
.search-input {
    width:450px!important;
}
.hr{
    margin-top: -7px;
    opacity: 15%;
}
.carousel-1{
    background-image:url(/imgs/slide-1.jpg);
    background-size:cover;
    height:500px;
    border-radius:10px;
}
.carousel-2{
    background-image:url(/imgs/slider-2.jpg);
    background-size:cover;
    border-radius:10px;
    height:500px;
}
.img-card-1{
    background-image:url(/imgs/grocery-banner.png);
    background-size:cover;
    border-radius:10px;
    width: 550px !important;;
    height: 210px !important;
}
.img-card-2{
    background-image:url(/imgs/grocery-banner-2.jpg);
    background-size:cover;
    border-radius:10px;
    width: 550px !important;;
    height:210px;
}
.sales-left-section{
    background-image: url(/imgs/banner-deal.jpg);
    border-radius:10px;
}
.hover-icons{
    display:none;
}
.sells-icons{
    top:200px;
}


/* Hover Effects */
.location-btn:hover{
background-color: #5c6c754f!important;
transition:ease 0.3s;
}
.home-dropdown button:hover{
    color:#0aad0a!important;
}
.shop-dropdown button:hover{
    color:#0aad0a!important;
}
.stores-dropdown button:hover{
    color:#0aad0a!important;
}
.megamenu-dropdown button:hover{
    color:#0aad0a!important;
}
.pages-dropdown button:hover{
    color:#0aad0a!important;
}
.account-dropdown button:hover{
    color:#0aad0a!important;
}
.dashboard a:hover{
    color:#0aad0a!important;
}
.docs a:hover{
    color:#0aad0a!important;
}
.departments a:hover{
    background-color:#099309!important;
}
.shop-btn:hover{
    background-color: rgba(0, 0, 0, 0.783)!important;
    transform: ease .3s;
}
.scroll-icon1:hover{
    background-color: #07ba07!important;
    color:white!important;
    cursor: pointer;
    transition: ease 890ms;
}
.scroll-icon2:hover{
    background-color: #07ba07!important;
    color:white!important;
    cursor: pointer;
    transition: ease 890ms;
}
.carousel-item1:hover{
    border: 1px solid #07ba07!important;
    cursor: pointer;
    transform: ease .09s;
}
.carousel-item2:hover{
    border: 1px solid #07ba07!important;
    cursor: pointer;
    transform: ease .09s;
}
.carousel-item3:hover{
    border: 1px solid #07ba07!important;
    cursor: pointer;
    transform: ease .09s;
}
.carousel-item4:hover{
    border: 1px solid #07ba07!important;
    cursor: pointer;
    transform: ease .09s;
}
.cart-btn:hover{
    background-color:#099309!important;
    transition: ease 590ms;
}
.hover-icon1:hover{
    background-color:#099309!important;
    color:white!important;
    transition: ease 590ms;
}
.hover-icon2:hover{
    background-color:#099309!important;
    color:white!important;
    transition: ease 590ms;
}
.hover-icon3:hover{
    background-color:#099309!important;
    color:white!important;
    transition: ease 590ms;
}
.product-1:hover .hover-icons{
    display:block;
}
.product-2:hover .hover-icons{
    display:block;
}
.product-3:hover .hover-icons{
    display:block;
}
.product-4:hover .hover-icons{
    display:block;
}
.product-5:hover .hover-icons{
    display:block;
}
.end-icon1:hover{
    color: #07ba07!important;
    cursor: pointer;
    transition: ease 890ms;
}
.end-icon2:hover{
    color: #07ba07!important;
    cursor: pointer;
    transition: ease 890ms;
}
.end-icon3:hover{
    color: #07ba07!important;
    cursor: pointer;
    transition: ease 890ms;
}
